/* پایه‌های RTL */
:root {  }

html[dir="rtl"], body[dir="rtl"], body {
  direction: rtl;            /* راست‌به‌چپ */
  unicode-bidi: embed;       /* رفتار یونیکد برای RTL */
  text-align: right;         /* متن‌ها راست‌چین */
  font-family: "Vazirmatn", system-ui, -apple-system, "Segoe UI", Roboto, "Noto Naskh Arabic", sans-serif;
}

/* برای مواردی که لازم است متن لاتین درون پاراگراف حفظ شود */
p, li, h1, h2, h3, h4, h5 {
  line-height: 1.6;
  word-break: break-word;
}

/* جدول‌ها */
table {
  width: 100%;
  border-collapse: collapse;
  direction: rtl;            /* جدول هم راست به چپ */
  margin: 1rem 0;
  table-layout: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: .5rem .6rem;
  text-align: right;         /* سلول‌ها راست‌چین */
}

/* اگر نیاز به شماره‌گذاری در سمت چپ دارید برای مثال */
ol { direction: rtl; }
